.slider-container {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 50vh;
}

.slider-container .slider-width {
    height: 50vh;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 40px;
    left: 0;
    top: 0;
    transition: left 0.5s ease-in-out;
}

.slider-width.last-slide {
    transition: none;
}

.slider-container img:nth-child(1) {
    margin-left: -60px;
}

.gallery .btn-wrapper {
    display: flex;
    gap: 20px;
}

.gallery img {
    height: 100%;
    object-fit: cover;
}

.gallery .slider-nav {
    color: var(--white);
    cursor: pointer;
}

.gallery .slider-nav i {
    font-size: 50px;
    opacity: 0.7;
    transition: var(--transition);
}

.gallery .slider-nav i:hover {
    opacity: 1;
    transition: var(--transition);
}